@media (max-width: 767px) 
{
    #app-demo-contant {
        width: 98vw;
    }
}


:root {
    --ctm-app-welcome-background: #42296E;
    --ctm-app-front-color: #eda514;
    --ctm-svg-border-button-hover-fill:#ffe9bb57;
}

body {
    background: url(../img/bg/gradient-left.png) no-repeat top left, url(../img/bg/gradient-right.png) no-repeat top right, #320184;
}

#app-demo-main {
    background-color:transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: auto;
    width: 100%;
    height: 100vh;
    margin: auto;
}

#app-demo-contant {
    margin: 2%;
    min-width: 300px;
    min-height: 400px;
    width: 30%;
    overflow:hidden;
    display: block;
}

#app-welcome-page {
    display:block;
 }

#app-create-page {
    margin-top: 10%;
    display:none;
}

#app-join-page {
    margin-top: 10%;
    display:none;
}

.app-cancel-button {
    border: 2px solid var(--ctm-app-front-color);
    border-radius: 100%;
    width: 20;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background: transparent;
    justify-content: center;
float: right;
}

.app-cancel-button:hover  {
    background-color: var(--ctm-svg-border-button-hover-fill);
}

.is-app-front-text {
    font-size: larger;
    color: var(--ctm-app-front-color);
}

.app-field-container {
    padding: 2%;
    margin-bottom: 4%;
    width: 100%;
    min-height: 40px;
    display: grid;
    grid-template-columns: 16% 78%;
}

.app-field-icon-container {
    justify-content: center;
    padding-right: 2%;
    display: inline-block;
}

.app-field-icon {
    display: block;
   margin: 10%;
    margin-bottom: 0%;
}

.app-field-text-container {
    display: grid;
    grid-template-rows: 50% 50%;
    padding-left: 2%;
}

.app-field-title {
    margin: 0%;
    margin-top: auto;
    color: var(--ctm-app-front-color);
    font-size: large;
    font-weight: bold;
}

.app-field-input {
    margin: 0%;
    border: none;
    border-bottom: 1px solid var(--ctm-app-front-color);
    background-color: transparent;
    resize: none;
    color: white;
    font-size: medium;
}

.app-field-input:focus {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

#app-create-button-container{
    padding: 2%;
    margin-bottom: 4%;
    width: 100%;
    min-height: 40px;
    display: grid;
    grid-template-columns: 16% 16% 66%;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

#app-join-button-container{
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 4%;
    margin-top: 2%;
    width: 98%;
    min-height: 40px;
    display: grid;
    grid-template-columns: 16% 82%;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

.app-page-title {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 5%;
    clear: both;
}




#app-welcome-logo {
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

#app-welcome-title {
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

#app-welcome-subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

#app-welcome-or-text {
    text-align: center;
    width: 100%;
}

.app-welcome-button {
    border: 2px solid var(--ctm-app-front-color);
    border-radius: 20px;
    background: transparent;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 90%;
    min-height: 40px;
}

.app-welcome-button:hover  {
    background-color: var(--ctm-svg-border-button-hover-fill);
}

#app-welcome-or-text {
    text-align: center;
    width: 100%;
}


input,
button {
    font-size: 1.6vw;
    margin: 0;
    font-family: Sans-Serif;
}
@media(max-width: 1024px) {
    input,
    button {
        font-size: 1em;
    }
}
input:focus,
button:focus {
    outline:0;
}
input {
    border: none;
    border-bottom: solid 2px #4c4c4f;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    padding: .1em 0;
    margin: 0.5ex 0;
    width: 100%;
    max-width: 18em;
    display: block;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: rgba(44, 44, 44, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: .2ex .2ex 1.5em #444;
    transition: all .2s ease-out;
    margin: 0 .4em;
    cursor: pointer;
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
    box-shadow: .4ex .4ex 3em #666;
    background: rgba(64, 124, 247, 1)
}
.you-left,
.remote-left,
.hangup-button,
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
	display: none;
}
:-webkit-full-screen .fullscreen-button .on {
    display: block;
}
:-moz-full-screen .fullscreen-button .on {
    display: block;
}
:-ms-fullscreen .fullscreen-button .on {
    display: block;
}
:fullscreen .fullscreen-button .on { /* spec */
    display: block;
}
:-webkit-full-screen .fullscreen-button .off {
    display: none;
}
:-moz-full-screen .fullscreen-button .off {
    display: none;
}
:-ms-fullscreen .fullscreen-button .off {
    display: none;
}
:fullscreen .fullscreen-button .off { /* spec */
    display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.guest-hangup + .auth .you-left {
    display: inline;
}
.full .room-occupied,
.host-hangup + .auth .remote-left,
.recent-room {
	display: block;
}
.recent-room {
    color: #4285F4;
    margin: 1ex 1em;
}
.remote-video {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.local-video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: all .3s;
}

.established .local-video {
	margin: 10px;
    max-height: 17%;
    max-width: 17%;
    height: auto;
    width: auto;
}
.media-bridge,
.local-video,
.remote-video {
    position: absolute;
    height: 100%;
    width: 100%;
}
.auth {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.primary-button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 0.8em;
    margin: 0 5px 20px 5px;
    width: 8em;
    line-height: 3ex;
    padding: 1ex 0.7em;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
}


.media-controls {
    display: flex;
    margin: 2ex 0;
    justify-content: center;
    left: 0;
    right: 0;
}
.timer {
    position:relative;
    top:-10px; 
    justify-content: center;
}
.svg {
    width: 1.4em;
}
.room-occupied,
.request-access,
.waiting,
.request-access,
.grant-access,
.waiting {
    overflow: hidden;
    padding: 0 1em;
    box-sizing: border-box;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    /* Initially we don't want any height, and we want the contents to be hidden */
    max-height: 0;
    transition: max-height .3s ease;
}
.full + .auth .room-occupied,
.guest-hangup + .auth .request-access,
.join + .auth .request-access,
.approve + .auth .grant-access {
    transition-delay: .3s;
    /* Set the max-height to something large. In this case there's an obvious limit. */
    max-height: 20ex;
}
.host-hangup + .auth .waiting,
.create + .auth .waiting {
    /* Set the max-height to something large. In this case there's an obvious limit. */
    max-height: 20ex;
}
.established + .auth .hangup-button {
    display: flex;

}

.ibox {
    height: 200px;
    position: relative;
    margin-top: 20px
  }

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .react-switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50%;
    height: 30px;
    background: #7F00FF;
    border-radius: 100px;
    position: relative;
    transition: background-color 1s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 26px;
    border-radius: 45px;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }

  #mainChatContainer {
    margin: 5%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45%  45% 10%;
  }
  
  .chat {
    margin-left: 5%;
    max-width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: start;
  }
  
  .chatTitleContainer {
    border-radius: 30px;
    background-color: var(--ctm-app-welcome-background);
    padding: 2% 5%;
    max-height: fit-content;
  
    display: block;
    align-self: center;
    align-content: center;
  }
  
  .chatTitleContainer > .chatTitle {
    font-size: large;
    color: var( --ctm-app-front-color);
    width: 100%;
    text-align: center;
  }
  
  .chatTitleContainer > .chatSubtitle {
    font-size: large;
    color: var( --ctm-app-front-color);
  }
  
  .chatStage {
    display: block;
    width: 70%;
    border-radius: 30px;
    background-color: var(--ctm-app-welcome-background);
    padding: 0%;
    min-height: 5%;
    align-self: center;
    align-content: center;
    margin: 2%;
    transition: width 0.5s ease-out;
  }
  
  .stageContent {
    /* border: 1px solid gray; */
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    border-radius: 26px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .stageTitle {
    display: inline-block;
    color: gray;
    width: 100%;
    text-align: center;
  }
  
  .stageSubtitle {
    display: none;
    font-size: medium;
  }
  
  .stageInfo {
    display: none;
    font-size: small;
  }
  
  .stageDoneTitle {
    display: none;
    color: gray;
    width: 80%;
    text-align: center;
    margin-left: 2%;
  }
  
  .stageProgress {
    max-width: 10%;
    display: none;
    align-self: center;
  }
  
  .stageActionButton {
    border: 1px solid var(--ctm-app-front-color);
    color: var(--ctm-app-front-color);
    font-size: medium;
    border-radius: 20px;
    background: transparent;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 4%;
    min-height: 40px;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    align-self:center;
    animation-name: buttonShineAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes buttonShineAnimation{
    0%   {border-color: var(--ctm-app-front-color);}
    50%   {border-color:  var(--ctm-stage-button-shine-border);}
    100%   {border-color: var(--ctm-app-front-color);}
  }
  
  .stageActionButton:hover  {
    background-color: var(--ctm-stage-button-hover-fill);
  }
  
  
  
  .comTextInput {
    margin: 2%;
    margin-left: 15%;
    margin-top: 4%;
    border: none;
    border-bottom: 1px solid var(--ctm-app-front-color);
    background-color: transparent;
    resize: none;
    color: white;
    font-size: medium;
    width: 80%;
    display: none;
  
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x:auto;
  }
  
  .comTextInput:focus {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
  }
  
  #meetingLink {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x:auto;
  }
  
  #earnerSpendrMessage {
      overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x:auto;
  }
  
  .chatStage.isActive {
    width: 98%;
    /* min-height: 20vh; */
  }
  
  .chatStage.isActive .stageContent{
    border: 1px solid var(--ctm-app-front-color);
  }
  
  .chatStage.isActive .stageProgress {
    content:url("../img/C32CtmLogoProgressIndicator.svg");
    display: inline-block;
  }
  
  .chatStage.isActive .stageTitle {
    color: var(--ctm-app-front-color);
    transition: color 0.5 ease-out;
    margin: 2%;
    margin-bottom: 2%;
    font-size: large;
    width: auto;
    padding-left: 5%;
  }
  
  .chatStage.isActive .comTextInput{
    display: block;
  }
  
  .chatStage.isActive .stageSubtitle {
    color: var(--ctm-app-front-color);
    margin: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    display: block;
  }
  
  .chatStage.isActive .stageInfo {
    color: var(--ctm-app-front-color);
    margin: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    display: block;
  }
  
  .chatStage.isActive .stageActionButton {
    display: inline-block;
  }
  
  .chatStage.isDone .stageProgress {
    content:url("../img/done.svg");
    display: inline-block;
    max-width: 3%;
  }
  
  .chatStage.isDone .stageTitle {
    display: none;
  }
  
  .chatStage.isDone .stageActionButton {
    display: none;
  }
  
  .chatStage.isDone .stageDoneTitle {
    display: inline-block;
  }
  
  .chatStage.isDone .comTextInput {
    pointer-events:none;
  }
  
  
  .chatStage.isCompact .stageActionButton {
    display: none;
  }
  
  .chatStage.isCompact .stageTitle {
    color: var(--ctm-app-front-color);
    transition: color 0.5 ease-out;
    margin: 2%;
    font-size: small;
  }
  
  .chatStage.isCompact #meetingLink {
    color: var(--ctm-app-front-color);
    font-size: small;
  }
  
  #eStage1.isCompact:hover {
    width: 98%;
  }
  
  #eStage1.isCompact:hover .stageActionButton{
    display: block;
  }
  
  #eStage1.isCompact:hover #meetingLink{
    display: block;
  }
  
  
  #spenderChat {
    opacity: 0;
    }
  
  #simulation {
    margin-left: 2%;
  }
  
  #simulation p {
    color: var(--ctm-app-front-color);
  }
  
  #simulation button {
    margin: 6%;
  }
  
  #spenderChat.isActive {
  opacity: 1;
  }
  
  #earnerMMsim {
    display:none;
  }
  
  #earnerMMsim.isActive {
    display: inline-block;
  }
  
  #spenderMMsim {
    display:none;
  }
  
  #spenderMMsim.isActive {
    display: inline-block;
  }
  
  #mainChatContainer {display:none}
  #mainChatContainer.isActive {display:grid}
  
  #camSim {display: none;}
  #camSim.isActive {
    display: block;
    width: 10%;
    margin: 5%;
  }
  

